.feature-box {
  background-color: rgba($color-white, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
  transition: transform, .2s;

  &__icon {
    font-size: 6rem;
    margin-bottom: 5px;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    background-clip: text;
    -webkit-background-clip: text; //clips the background image to only be visible around text
    color: transparent;
    display: inline-block;
  }

  &:hover {
    transform: scale(1.05) translateY(-1.5rem);
    box-shadow: 0rem 1rem 3rem rgba($color-black, .5);
  }

  &__text {

  }
  
}